/* Style général pour les tags */
.checkbox-item {
    margin-bottom: 10px; /* Espacement entre chaque case à cocher */
    display: flex;
    align-items: center;
   
    
   
}

.tag-checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px; /* Espacement entre la case et le label */
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Changer la couleur de fond et de bordure lorsque la case est cochée */
.tag-checkbox:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

/* Ajouter un effet lorsque l'on survole la case */
.tag-checkbox:hover {
    border-color: #888;
}

/* Stylisation du label associé */
.tag-label {
    font-size: 16px;
    cursor: pointer;
    color:white;
    width:100%
}

/* Changer la couleur du label lorsque la case est cochée */
.tag-checkbox:checked + .tag-label {
    color:white; 
    background-color: rgb(130, 85, 116);
    /* Change la couleur du texte quand la case est cochée */
}
